[Unit]
Description=Apply piper-pi configuration from Git
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/pi-update
